[
  {
    "id": "nextcloud",
    "name": "Nextcloud",
    "secret": { "Plain": "${NC_OIDC_CLIENT_SECRET}" },
    "redirect_uris": ["https://${CLOUD_DOMAIN}/apps/user_oidc/code"],
    "enabled": true,
    "flows_enabled": ["authorization_code", "refresh_token"],
    "challenges": ["S256"],
    "access_token_alg": "EdDSA",
    "id_token_alg": "EdDSA",
    "auth_code_lifetime": 60,
    "access_token_lifetime": 3600,
    "scopes": ["openid", "profile", "email"],
    "default_scopes": ["openid", "profile", "email"],
    "force_mfa": false
  },
  {
    "id": "vaultwarden",
    "name": "Vaultwarden",
    "secret": { "Plain": "${VW_SSO_CLIENT_SECRET}" },
    "redirect_uris": ["https://${VAULT_DOMAIN}/identity/connect/oidc-signin"],
    "enabled": true,
    "flows_enabled": ["authorization_code", "refresh_token"],
    "challenges": ["S256"],
    "access_token_alg": "EdDSA",
    "id_token_alg": "EdDSA",
    "auth_code_lifetime": 60,
    "access_token_lifetime": 3600,
    "scopes": ["openid", "profile", "email"],
    "default_scopes": ["openid", "profile", "email"],
    "force_mfa": false
  }
]
