# ${APP} - Basis-Konfiguration, erzeugt von setup.sh (caddy install).
# NICHT von Hand aendern: 'caddy install' schreibt diese Datei neu.
#
# Jeder vHost ist eine eigene Datei in sites.d und wird ueber setup.sh verwaltet:
#   ./setup.sh caddy add|list|show|edit|remove
{
	email ${ACME_EMAIL}
}

import ${SITES_GLOB}
